@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
#main {
  margin-left: 10%;
}
.boundss {
  max-height: 300px !important;
  max-width: 400px !important;
  border-color: red;
  border-width: 5px;
}
/////////////////////////////////////////////////
/////////////// Landing.jsx //////////////////////
/////////////////////////////////////////////////
.landing_home {
  width: 100vw;
  height: 100vh;
  background-image: url(https://res.cloudinary.com/people-matters/image/upload/q_auto,f_auto/v1505193006/1505193005.jpg);
  background-size: 100% 90%;
  background-repeat: no-repeat;
  .landing_home_heading {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 5px;
    color: #1b80c4;
    // background-color: orange;
    // background-size: cover;
  }
}
.login {
  color: white !important;
  border-color: white !important;
  background-color: transparent !important;
}
/////////////////////////////////////////////////
/////////////// Navbar.jsx //////////////////////
/////////////////////////////////////////////////
.logo {
  font-family: "Sansita Swashed", cursive;
  font-size: 1.8rem;
  color: white !important;
}
#navbar {
  color: white !important;
  background-color: orange;
  position: fixed;
  width: 100%;
}
.navlink {
  width: 500px !important;
}
/////////////////////////////////////////////////
/////////////// Menu.jsx //////////////////////
/////////////////////////////////////////////////
.menu {
  background-color: #1b80c4;
  background-size: cover;
  transform: translateX(-20px);
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}
.menu_box {
  margin: auto;
  text-align: center;
  p {
    color: white;
  }
  .menu_icon {
    fill: white !important;
  }
}
