@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
#main {
  margin-left: 10%;
}

/////////////////////////////////////////////////
/////////////// Landing.jsx //////////////////////
/////////////////////////////////////////////////
.landing_home {
  width: 100%;
  height: 100vh;
  background-image: url(https://res.cloudinary.com/people-matters/image/upload/q_auto,f_auto/v1505193006/1505193005.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  .logo_landing {
    font-family: "Sansita Swashed", cursive;
    font-size: 2.3rem;
    color: white !important;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
  .landing_home_heading {
    margin-top: 63px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 5px;
    color: white;
    background-color: orange;
    border-radius: 30px;
    font-family: sans-serif;
  }
}
.login {
  color: white !important;
  border-color: white !important;
  background-color: transparent !important;
  font-size: 1.3rem !important;
}
.landing_heading {
  color: orange !important;
  border-bottom: 5px solid #1b80c4;
  // border-width: 50%;
}
.details {
  letter-spacing: 2px;
}
.testimonial {
  background-color: orange;
  h1 {
    font-weight: bold;
    color: white;
  }
  .testimonial_img {
    border-radius: 50%;
    // transform: scale(0.7);
    height: 20rem;
    width: 20rem;
  }
  .testimonial_msg {
    margin: auto;
  }
}
.whyon {
  img {
    height: 200px;
    width: 200px;
  }
  h1 {
    border-bottom: 5px solid #1b80c4;
    // border-width: 50%;
  }
}
/////////////////////////////////////////////////
/////////////// Login.jsx //////////////////////
/////////////////////////////////////////////////
.verification {
  .login_heading {
    color: black;
    display: flex;
    justify-content: space-around;
    background-color: orange;
    padding-top: 17px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
.actives {
  padding-bottom: 3px;
  border-bottom: 3px solid black;
  opacity: 1;
  cursor: pointer;
  text-transform: capitalize !important;
}
.inactives {
  opacity: 0.5;
  cursor: pointer;
  text-transform: capitalize !important;
}
.enter {
  background-color: #099cfd !important ;
}
/////////////////////////////////////////////////
/////////////// Navbar.jsx //////////////////////
/////////////////////////////////////////////////
.logo {
  font-family: "Sansita Swashed", cursive;
  font-size: 1.8rem;
  color: white !important;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
#navbar {
  color: white !important;
  background-color: orange;
  position: fixed;
  width: 100%;
}
.navlink {
  width: 500px !important;
}
/////////////////////////////////////////////////
/////////////// Menu.jsx //////////////////////
/////////////////////////////////////////////////
.menu {
  background-color: #1b80c4;
  background-size: cover;
  transform: translateX(-20px);
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}
.menu_box {
  margin: auto;
  text-align: center;
  p {
    color: white;
  }
  .menu_icon {
    fill: white !important;
  }
}
/////////////////////////////////////////////////
/////////////// Home.jsx //////////////////////
/////////////////////////////////////////////////
.home{
  display: flex;
  justify-content: space-evenly;
  justify-content: space-between;
  margin-top: 10vh;
  width: 200vh;


}

.question{
  width: 100vh;
  margin-left: 5vh;
}

//chat

.chat{
  margin-left: 5vh;
}













/////////////////////////////////////////////////
/////////////// video.jsx //////////////////////
/////////////////////////////////////////////////
.video{
  margin-top: 50px;
  margin-left: 50px;
}
.video_card {
  width: 250px;
}